{% extends 'ponymine/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Overview' %}{% endblock %}

{% block ponymine-content %}
<h2>{% trans 'Overview' %}</h2>

{% if user.is_authenticated %}
<fieldset>
    <legend>{% trans 'My Tickets' %}</legend>

    {% with my_tickets.page.object_list as ticket_list %}
    {% include 'ponymine/_ticket_table.html' %}
    {% endwith %}
    </table>
</fieldset>
{% endif %}

<fieldset>
    <legend>{% trans 'Projects' %}</legend>

    <ul>
    {% for project in projects.page.object_list %}
        <li>
            <a href="{{ project.get_absolute_url }}">
                {{ project.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
</fieldset>

<fieldset>
    <legend>{% trans 'Latest Tickets' %}</legend>

    {% with latest_tickets.page.object_list as ticket_list %}
    {% include 'ponymine/_ticket_table.html' %}
    {% endwith %}
</fieldset>
{% endblock %}
