{% extends 'ponymine/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Overview' %}{% endblock %}

{% block content %}
<h2>{% trans 'Overview' %}</h2>

<fieldset>
	<legend>Projects</legend>

	<ul>
	{% for project in projects.page.object_list %}
		<li>
			<a href="{{ project.get_absolute_url }}">
				{{ project.name }}
			</a>
		</li>
	{% endfor %}
	</ul>
</fieldset>

<fieldset>
	<legend>Latest Tickets</legend>

	<ul>
	{% for ticket in tickets.page.object_list %}
		<li>
			<a href="{{ ticket.get_absolute_url }}">
				{{ ticket.name }}
			</a>
		</li>
	{% endfor %}
	</ul>
</fieldset>
{% endblock %}