{% extends "base.html" %}

{% block content %}

<h2>{{ project.name }}</h2>

<table id="project-props">
	{# insert project properties here #}
</table>
<div id="project-options">
	<a href="{% url ponymine_create_ticket %}?project={{ project.id }}">
		New Ticket</a>
</div>
<pre>{{ project }}</pre>
<pre>{{ project.ticket_set }}</pre>
<ul>
	{% for ticket in project.tickets.all %}
	<li><a href="{{ ticket.get_absolute_url }}">{{ ticket }}</a></li>
	{% endfor %}
</ul>

{% endblock %}